@import "./variables.scss";
.aside{
    visibility: hidden;
    position: fixed;
    top:0;
    left: 0;
    height:100%;
    background-color: white;
    width: 255px;
    box-shadow: 1px 1px 6px 4px rgba(0,0,0,0.4);
    z-index: 10001;
    nav{
        margin-top:100px;
        font-weight: bold;
        a{
            text-decoration: none;
            color:#000;
            li{
                padding-left: 20px;
                list-style: none;
                border-bottom: 1px solid #000;
                margin-bottom:5px;
                font-size:1.2rem;
            }
            li:hover{
                color:$colorHover;
            }
        }
    }
    transform: translateX(-100%);
    transition-duration: 200ms;
}
.visible{
    visibility: visible;
    transform: translateX(0%);
    transition-duration: 200ms;
}