@import './variables.scss';
.footer{
    display:flex;
    justify-content: space-around;  
    min-height: 40px;
    box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.3);
    aside{
        font-weight: bold;
        display: flex;
        align-self: flex-end;
        a{
            text-decoration: none;
            color:#000;
            margin: 12px;
            li{
                list-style: none;
            }
            li:hover{
                color:$colorHover;
            }
        }
    }
    p{
        font-size: 0.75rem;
        align-self: flex-end;
    }
}
@media(max-width:620px){
    .footer{
        min-height: 100px;
        flex-direction: column;
    }
}