@import './variables.scss';
.header{
    @include D-flex(row);
    justify-content: space-around;
    align-items: center;
    min-height: 100px;
    box-shadow: $shadowDefault;
    nav{
        display:flex;
        align-self: center;
        list-style: none;
        font-size: 18px;
        font-weight: bold;
        a{
            text-decoration: none;
            color:#000;
            li{
                margin: 10px;
            }
            li:hover{
                color:$colorHover;
            }
        }
    }
}
.buttonToggle{
    position: absolute;
    top: 5px;
    left:5px;
    cursor: pointer;
}
@media(max-width:771px){
    .header{
        flex-direction: column;
        min-height: 200px;
    };
}
@media(max-width:335px){
    .header{
        img{
            display:none;
        }
        nav{
            flex-direction: column;
        }
    }
}