.header{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    nav{
        display:flex;
        align-self: flex-start;
        list-style: none;
        text-decoration: none;
        font-size: 18px;
        li{
            margin: 10px;
        }
    }
}